<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tms07">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TMS07">
        <activity android:name=".dz11.HW11Activity" />
        <activity android:name=".dz8.HW8Activity" />
        <activity android:name=".HW7Activity" />
        <activity android:name=".HW6Activity" />
        <activity android:name=".HW5ActivityRegistered" />
        <activity android:name=".HW5Activity" />
        <activity android:name=".HW4Activity" />
        <activity android:name=".HW3Activity" />
        <activity android:name=".dz9.HW9Activity" />
        <activity android:name=".AnimationActivity" />
        <activity android:name=".FlagsActivity" />
        <activity android:name=".HW2Activity" />
        <activity android:name=".HW1Activity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>